<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Osobný pomocník</string>
	<key>CFBundleExecutable</key>
	<string>OsobnyPomocnik</string>
	<key>CFBundleIdentifier</key>
	<string>sk.matuskarak.osobny-pomocnik</string>
	<key>CFBundleName</key>
	<string>Osobný pomocník</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sk.matuskarak.osobny-pomocnik</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>osobnypomocnik</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Osobný pomocník potrebuje mikrofón pre diktovanie textu.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Osobný pomocník potrebuje zachytiť obrazovku pre funkciu OCR.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Osobný pomocník potrebuje rozpoznávanie reči pre diktovanie textu.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/matuskarak/personal-helper/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>R930xyv6GbHOg1AxfMEPRzRT0rKaONSBTkLek64x1b0=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
